form {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url("../images/backgrounds/Desktop.jpg");
  background-size: cover;
}

.wrapper {
  width: 100%;
  height: 100%;
  min-width: 950px;
}

.login_box {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-top: 7%;
  width: 35%;
  background-color: #fff;
  border: 1px solid #ededed;
  border-radius: 7px;
  padding: 5px;
  opacity: 0.98;
}

.login_header {
  width: 100%;
  height: 90px;
  background-color: #3498db;
  color: #fff;
  text-align: center;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.login_header h1 {
  margin-top: 0;
  margin-bottom: 0;
  color: #2c6c96;
}
